@using MyEvernote.ViewModal
@model InfoViewModel
@{
    ViewBag.Title = Model.Title;

}


<link href="~/Content/login-resister.css" rel="stylesheet" />
<body id="LoginForm">
    <div class="container">
        <h1 class="form-heading"></h1>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2 class="text-center">@Model.Header</h2>

                </div>
                <form id="Login">
                    <div class="text-info">
                        <h2><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;@Model.Title </h2>
                    </div>
                    <p class="justify-content-center">
                        @*hata mesajlarının verileceği yer*@

                        @foreach (string msg in Model.Items)
                        {
                            @msg<br>//satır satır hataları ekrana yazma
                        }
                    </p>
                </form>
            </div>
        </div>
    </div>

</body>
@{
    string js = string.Empty;
    if (Model.IsRedirecting)
    {
        js = "setTimeout(function() { window.location = '" + Model.RedirectingUrl + "'; }," + Model.RedirectingTimeout + ");";
    }
}


<script>
$(function () {
    $("footer").hide();
    @Html.Raw(js);
        });</script>
